<app-accordion
  [withConnectionStatus]="true"
  [isConnected]="isConnected"
  title="Jira"
  dynamicClass="text-sm font-medium text-secondary-950 ml-3"
  iconImage="./assets/img/logo/mark_gradient_blue_jira.svg"
  [isOpen]="isOpen"
  (toggleAccordion)="onToggleAccordion()"
>
  <div class="flex justify-start pb-4">
    <p class="text-sm font-normal text-secondary-500">
      {{ APP_MESSAGES.JIRA_ACCORDION }}
    </p>
  </div>
  <div class="flex justify-start pb-4">
    <p
      class="text-sm font-normal text-secondary-500"
      [innerHTML]="APP_MESSAGES.JIRA_PREREQUISITE"
    ></p>
  </div>
  <div [formGroup]="jiraForm" class="grid grid-cols-2 gap-6 w-full">
    <div class="flex items-start gap-2">
      <div class="flex-1">
        <app-input-field
          formControlName="jiraProjectKey"
          elementId="jiraProjectKey"
          elementName="Jira Project Key"
          elementPlaceHolder="Enter Jira Project Key"
        ></app-input-field>
      </div>
    </div>

    <!-- Jira Client ID Field -->
    <div class="flex items-start gap-2">
      <div class="flex-1">
        <app-input-field
          formControlName="clientId"
          elementId="clientId"
          elementName="Jira App Client ID"
          elementPlaceHolder="Enter Jira Client ID"
          elementType="password"
        ></app-input-field>
      </div>
    </div>

    <!-- Client Secret Field -->
    <div class="flex items-start gap-2">
      <div class="flex-1">
        <app-input-field
          formControlName="clientSecret"
          elementId="clientSecret"
          elementName="Jira App Client Secret"
          elementPlaceHolder="Enter Client Secret"
          elementType="password"
        ></app-input-field>
      </div>
    </div>

    <!-- Redirect URL Field -->
    <div class="flex items-start gap-2">
      <div class="flex-1">
        <app-input-field
          formControlName="redirectUrl"
          elementId="redirectUrl"
          elementName="Redirect URL"
          elementPlaceHolder="Enter Redirect URL"
        ></app-input-field>
      </div>
    </div>
  </div>

  <div class="mt-6 flex justify-end items-center">
    <app-button
      [buttonContent]="isConnected ? 'Disconnect' : 'Connect'"
      [theme]="isConnected ? 'danger' : 'primary'"
      size="sm"
      (click)="isConnected ? onDisconnect() : onConnect()"
      [disabled]="!isConnected && editButtonDisabled"
    >
    </app-button>
  </div>
</app-accordion>
